@import "tailwindcss";
@plugin "daisyui" {
   themes: dark --default;
 }
 @plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: "#e70507";
  --color-secondary: "#FF282A";
  --color-accent: "#515052";
  --color-base-100: "#000";
  --color-base-content: "#F2EFEA";
}
 /* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#00b6ff";
  --color-secondary: "#75d9ff";
  --color-accent: "#0070ab";
} */

.reveal-glow{
  text-shadow:0 0 12px rgba(231,5,7,var(--glow,0));
}

@keyframes border-glow {
  0% {
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.2);
  }
}

.animate-border-glow {
  animation: border-glow 2.5s ease-in-out infinite;
}
