@import "tailwindcss";
@plugin "daisyui" {
   themes: dark --default;
 }
 @plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: "#e70507";
  --color-secondary: "#FF282A";
  --color-accent: "#515052";
  --color-base-100: "#000103";
  --color-base-content: "#F2EFEA";
}
 /* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: "#00b6ff";
  --color-secondary: "#75d9ff";
  --color-accent: "#0070ab";
} */

